html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

body,h1,h2,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(Background.png);
    background-repeat: no-repeat;
}
.logo{
    width:150px;
    height:auto;
}
.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header{
    background-color: rgba(138, 157, 94, 1);
    color:white;
    border-radius: 10px 10px 0 0;
    padding: 12px 12px 0 12px;
}
.site-main{
    background-color:rgba(243, 232, 210, 1);
    padding: 12px;
    border-radius: 0 0 10px 10px;
}
.wrapper{
    max-width: 600px;
    margin: 0 auto;
}
.site-links{
    color:white;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-link{
    border-radius: 10px 10px 0 0;
    background-color: rgba(25, 54, 26, 1);
    padding: 4px 12px;
    color:white;
    text-decoration: none;
    display:inline-block;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 100;
}
.nav-link:hover{
    background-color:rgba(243, 232, 210, 1);
    color: rgba(25, 54, 26, 1);
}
.current-page{
    background-color: antiquewhite;
    color: rgba(121, 89, 70, 1);
}
.welcome{
     color:rgba(121, 89, 70, 1);
     display: flex;
     justify-content: center;
     font-family: "DM Serif Display", serif;
     font-style: normal;
}
.top-photo{
    width: 500px;
    height: auto;
    padding: 10px;
}
.top-photo-container{
    display: flex;
    justify-content: center;
}
.headings{
    color:rgba(121, 89, 70, 1);
     display: flex;
     font-family: "DM Serif Display", serif;
     font-style: normal;
     padding-right: 10px;
}
.content{
    color:rgba(121, 89, 70, 1);
    display: flex;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
